/build/
*.suo
*.user
_ReSharper.*/
*.sdf
.vs/
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
/Module_09/SqlDbProject_VS_2022/SqlDb/SqlDb.jfm
/Module_09/SqlDbProject_VS_2022/SqlDb/SqlDb.dbmdl
*.refactorlog
/Module_10/Logging/BrainstormSessions/Logs/structuredLog.json
/Module_10/Logging/BrainstormSessions/Properties/launchSettings.json
