/build/
*.dbmdl
*.refactorlog
*.jfm
*.suo
*.user
_ReSharper.*/
*.sdf
.vs/
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
/Module_09/SqlDbProject_VS_2022/SqlDb/SqlDb.dbmdl
/Module_02/Task_02/StandardLibrary/HelloLibrary/obj/Debug/net6.0/HelloLibrary.assets.cache
/Module_09/SqlDbProject_VS_2022/SqlDb/SqlDb.refactorlog
/Module_03/Task_01/Task1.Tests/obj/Debug/netcoreapp3.1/Task1.Tests.GeneratedMSBuildEditorConfig.editorconfig
/Module_03/Task_01/Task1/obj/Debug/netcoreapp3.1/Task1.assets.cache
/Module_03/Task_01/Task1/obj/Debug/netcoreapp3.1/Task1.GeneratedMSBuildEditorConfig.editorconfig
/Module_02/Task_02/StandardLibrary/HelloLibrary/obj/Debug/net6.0/HelloLibrary.csproj.AssemblyReference.cache
/Module_02/Task_02/StandardLibrary/HelloLibrary/obj/Debug/net6.0/HelloLibrary.GeneratedMSBuildEditorConfig.editorconfig
/Module_03/Task_01/Task1.Tests/obj/Debug/netcoreapp3.1/Task1.Tests.assets.cache
